@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="line-height: 450px;">
    <div class="col" style="text-align:center">        
        <img src="@Url.Content("~/Images/dataset-cover.jpg")">
    </div>
</div>